<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUc_J71SJI7jJ0RJXxh4LovmeE4qCjHYE</string>
	<key>GCM_SENDER_ID</key>
	<string>1051924890756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartMoves</string>
	<key>PROJECT_ID</key>
	<string>smart-moves-2120a</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-moves-2120a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051924890756:ios:e171791b51eb2f02f9eed1</string>
</dict>
</plist>